---
import Base from '../layouts/Base.astro';
import TopBar from '../components/TopBar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <TopBar />
  <main>
    <Hero />
  </main>
  <Footer />
  <script>
    import '../scripts/clock';
    import '../scripts/copy-email';
  </script>
</Base>
