---
import Base from '../layouts/Base.astro';
import BgDecor from '../components/BgDecor.astro';
import TopBar from '../components/TopBar.astro';
import Hero from '../components/Hero.astro';
import Facts from '../components/Facts.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <BgDecor />
  <TopBar />
  <main>
    <Hero />
    <Facts />
    <About />
  </main>
  <Footer />
  <script>
    import '../scripts/clock';
    import '../scripts/copy-email';
    import '../scripts/parallax';
    import '../scripts/reveal';
    import '../scripts/countup';
  </script>
</Base>
